
.odin-info {
  background-color:black;
  color:white;
  padding:10px;
  display: flex;
  font-size: 1rem !important;
}
.odin-info .info-item {
  display: flex;
  align-items: center;
  width: 80%;
  padding-left: 2rem;
}

.navbar-wrapper .social-links img{
  width: 70%;
  flex: 1;
}
.navbar-wrapper .social-links {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  padding-right: 2rem;
}
.navbar {
  display: flex;
  align-items: center;
  color:white;
}

.navbar .logo {
  width: 30%;
  text-align: center;
}
.logo img {
  padding-top: 10px;
  width: 120px;
  cursor: pointer;
}
.navbar .menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  width: 55%;
}

.navbar .menu .menu-item {
  flex:1;
  cursor: pointer;
}


/* Estilos básicos */
.hamburger-menu {
  position: relative;
  z-index: 2900; /* Asegúrate de que el menú esté por encima de otros elementos */
  background:black;
}

.hamburger-menu .close-button{

  margin-bottom: 20px;

}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  z-index: 3000; /* Coloca el botón por encima del menú */
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s;
}

/* Efecto de abrir el menú */
.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
/* Menú desplegable a pantalla completa */
.hamburger-menu-item {
  display: none;
  position: fixed; /* Fijo para cubrir toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95); /* Fondo con ligera transparencia */
  z-index: 3900; /* Coloca el menú por encima de otros elementos */
  padding-top: 60px; /* Espacio superior para el contenido */
  text-align: center;
  transition: opacity 0.3s;
  opacity: 0; /* Oculta el menú inicialmente */
}

.hamburger-menu-item.show {
  display: block;
  opacity: 1; /* Muestra el menú */
}

.hamburger-menu-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px; /* Tamaño del texto del menú */
}

.hamburger-menu-item li {
  margin: 20px 0;
}

.hamburger-menu-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.hamburger-menu-item a:hover {
  color: #007BFF;
}


.ul-wrapper span img {
  width: 10%;
}
/* Ocultar un componente en pantallas más grandes (por ejemplo, tabletas y computadoras) */
@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  .navbar-wrapper {
    display: block;
    font-size:16px;
  }

}

/* Mostrar un componente solo en pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 767px) {

  .hamburger-menu {
    display: block;
  }
  .navbar-wrapper {
    display: none;
    font-size: 14px;
  }
  .hamburger-menu-wrapper {
    display: flex;
    width: 100%;
    padding-top: 0.5rem;
  }

  .responsive-logo {
    width: 100px;
    margin: auto;
  }

}
