.project-item {
  width: 33%;
  position: relative;
  perspective: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box !important;
}

.project-item:hover {
  cursor: pointer;
}

.project-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

}

.project-detail {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
  height: 100%;
  color: #ffff;
  font-weight: 600;
  font-size: 2rem;
  text-align:center;
  /* padding-left:1rem;
  padding-right: 1rem; */
}
.project-detail span {
  margin-left:1rem;
  margin-right: 1rem;
  font-size: 1.8rem;
}
/*
.project-detail .description {
  display: block;
  width: 100%;
  font-weight: 1rem;
} */
/* Intervalo para teléfonos pequeños (320px a 480px) */
@media (min-width: 320px) and (max-width: 480px) {
  /* Estilos para teléfonos pequeños */
  .project-item {
    width: 100%;
    height: 17rem !important;
  }

}

/* Intervalo para teléfonos grandes (481px a 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Estilos para teléfonos grandes */
   .project-item {
    width: 50%;
    height: 17rem !important;
  }

}

/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
   .project-item {
    width: 33.33%;
    height: 17rem !important;
  }
}

/* Intervalo para laptops y pantallas de escritorio pequeñas (1024px a 1199px) */
@media (min-width: 1024px) and (max-width: 1199px) {
  /* Estilos para laptops y pantallas de escritorio pequeñas */
  .project-detail {
    font-size: 1.8rem;
  }
  .project-item {
    width: 33%;
    height: 17rem !important;
  }
}

/* Intervalo para pantallas de escritorio grandes (1200px y más) */
@media (min-width: 1200px) {
  /* Estilos para pantallas de escritorio grandes */
  .project-item {
    width: 33%;
    height: 50% !important;
  }
}
