.services-section {
  /* background-image: url('./../../assets/img/blank-concrete.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; */
  padding-top: 2rem;
  /* height:auto; */
  background-color:#f8f8f8;
}
.services-title {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
  color:#333;
}

.services-section .content {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  height: 100%;
  align-items: strech;
}

/* Intervalo para teléfonos pequeños (320px a 480px) */
@media (min-width: 320px) and (max-width: 767px) {

  .services-section {
    height:auto;
    padding-top: 1.5rem;
  }
  /* Estilos para teléfonos pequeños */
  .services-section .content {
    gap:0;
    padding-top: 0rem;
  }
  .services-title {
    font-size: 1.3rem;
  }
}

/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {

  /* Estilos para tablets */
  .services-section {
    padding-top:1rem;
      height: auto;
      background-size: contain;
    }
  .services-section {
    height:auto;
  }
  .services-section .content {
    gap:0;
    padding-top: 0rem;
  }
  .services-title {
    font-size: 1.4rem;
  }
}

/* Intervalo para laptops y pantallas de escritorio pequeñas (1024px a 1199px) */
@media (min-width: 1024px) and (max-width: 1199px) {
  /* Estilos para laptops y pantallas de escritorio pequeñas */
    .services-section {
      padding-top:1rem;
      height:auto;
    }
    .services-section .content {
     gap:0;
     padding-top: 0rem;
    }
    .services-title {
    font-size: 1.5rem;
  }
}

/* Intervalo para pantallas de escritorio grandes (1200px y más) */
@media (min-width: 1200px) and (max-width: 1400px)  {
  /* Estilos para pantallas de escritorio grandes */
    .services-section {
     height:auto;
  }
  .services-section .content {
    gap:0;
  }
}
