.services-section {
  background-image: url('./../../assets/img/blank-concrete.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  position: relative; /* Para que el contenido esté sobre la imagen */
  height:100vh;
}


.services-section .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

/* Intervalo para teléfonos pequeños (320px a 480px) */
@media (min-width: 320px) and (max-width: 767px) {

  .services-section {
    height:auto;
    background-size: contain; /* Ajusta la imagen para que cubra todo el div */
    background-repeat: repeat; /* Evita que la imagen se repita */
  }
  /* Estilos para teléfonos pequeños */
  .services-section .content {
    gap:0;
  }
}

/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
  .services-section {
    height:auto;
  }
  .services-section .content {
    gap:0;
  }
}

/* Intervalo para laptops y pantallas de escritorio pequeñas (1024px a 1199px) */
@media (min-width: 1024px) and (max-width: 1199px) {
  /* Estilos para laptops y pantallas de escritorio pequeñas */
    .services-section {
      height:auto;
    }
    .services-section .content {
     gap:0;
    }
}

/* Intervalo para pantallas de escritorio grandes (1200px y más) */
@media (min-width: 1200px) and (max-width: 1400px)  {
  /* Estilos para pantallas de escritorio grandes */
    .services-section {
     height:auto;
  }
  .services-section .content {
    gap:0;
  }
}
