.review {
  width: 23%;
  height:100%
}


.review .client-img img {
  text-align: center;
  margin: auto;
  padding-bottom:20px ;

}

.review .content {
  background-color: #eab33c;
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  color:#ffff;
  height:70%;
  text-align: center;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.review .content:hover{
  transform: scale(1.1);
}

.review .client-name{
  padding: 20px;
  font-weight: 700;
  color:#333333;
  height: 20%;
}

/* Intervalo para teléfonos pequeños (320px a 480px) */
@media (min-width: 320px) and (max-width: 767px) {
  /* Estilos para teléfonos pequeños */
  .review {
   width: 55%;
   margin:auto;
   height:auto
  }
}


/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
  .review {
   width: 45%;
   margin:auto;
  }
}

/* Intervalo para laptops y pantallas de escritorio pequeñas (1024px a 1199px) */
@media (min-width: 1024px) and (max-width: 1199px) {
  /* Estilos para laptops y pantallas de escritorio pequeñas */
}

/* Intervalo para pantallas de escritorio grandes (1200px y más) */
@media (min-width: 1200px) {
  /* Estilos para pantallas de escritorio grandes */
}
