.clients-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* height: 90vh; */
  padding-top: 2rem;
  /* border:1px solid #eab33c; */
}


.clients-section .client-wrapper {
  display: flex;
  flex-wrap: wrap;
  height:90%;
  /* border:1px solid red; */
}
.separator {
  width: 8%;
  border: 2px solid #eab33c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.clients-section .title {
  font-size: 1.7rem;
  color:#333;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}
.clients-section .reviews {
  display: flex;
  wrap:no-wrap;
  justify-content: space-between;
  width: 100%;
  /* border:1px solid orange; */
  /* align-items: center; */
  height:80%
}
.clients-section .brands-wrapper {
  /* padding-top: 3rem; */
  height:20%
  box-sizing: border-box;
  width: 80%;
  margin: auto;
}

/* Intervalo para teléfonos pequeños (320px a 480px) */
@media (min-width: 320px) and (max-width: 766px) {
  /* Estilos para teléfonos pequeños */
  .clients-section {
    width: 100%;
    height: auto;
    padding-top: 0rem;
  }
  .clients-section .title {
    font-size: 1.3rem;
    padding:10px;
    padding-top: 0;
    box-sizing: border-box;
  }
  .clients-section .reviews {
    display: block;
  }
  .separator {
    width: 20%;
  }
  .clients-section .client-wrapper {
    padding-top:1rem;
  }
}
/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {

  .clients-section {
    padding-top:1rem;
      width: 100%;
      height: auto;
  }
    .clients-section .title {
    font-size: 1.4rem;
  }
  .clients-section .reviews {
    flex-wrap: wrap;
    border:1px solid red
    height: auto;
    justify-content: space-around;
  }
    /* Intervalo para pantallas de escritorio grandes (1200px y más) */
  }
  @media (min-width: 1024px) and (max-width: 1199px) {
    .clients-section {
      padding-top:1rem;
      width: 90%;
      height: auto;
    }
    .clients-section .title {
      font-size: 1.5rem;
    }

  }
  @media (min-width: 1200px) and (max-width: 1400px)  {
    /* Estilos para pantallas de escritorio grandes */

    .clients-section .client-wrapper {
      /* height: 60%; */
      padding-top: 4rem;
    }
  }
