.item {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  /* flex: 1; */
  padding: 1rem 1.5rem 1rem 1.5rem;
  transition: transform 0.3s ease;

}
.item svg {
  min-width:60px;
  height: 70px;
}
.item:hover {
  background-color: #eab33c;
  color:white;
  box-shadow: 13px 10px 15px -3px rgba(0, 0, 0, 0.2);
  /* transform: scale(1.1); */
  cursor: pointer;
  border-radius: 20px;
}
.item:hover  svg {
  fill:white !important;
}

.item .title {
  width: 100%;
  font-size: 1.8rem;
  margin-left: 30px;
  /* margin-right: 30px; */
  font-weight: 700;
  display:flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}

.item .description {
  margin-top:1rem;
  margin-left:30px;
  margin-bottom: 1rem;
}
.item img {
  width:60px ;
  margin-left: 30px;
}
.inlineImg {
  width: 60px;
  margin-left: 30px;
  display: none;
}
/* .item :hover {
  background-color: #eab33c;
  cursor: pointer;
} */


/* @media (max-width: 767px) {
  .item {
    width:80%;
    padding:1rem;
  }
  .item .description {
    margin:1rem;
  }
    .item img {
     display: none;
     margin-left: 0;

    }
    .item .inlineImg {
      display: block;
    }
    .item .title {
      display: flex;
      padding-left: 0;
      gap:1rem;
    }
} */
@media (min-width: 320px) and (max-width: 767px) {
  /* Estilos para teléfonos pequeños */
  .item {
    width:95%;
    margin:0.5rem;
  }
  .item .description {
    margin:1rem;
  }
    .item img {
     display: none;
     margin-left: 0;
    }
    /* .item .inlineImg {
      display: block;
    } */
    .item .title {
      display: flex;
      padding-left: 0;
      gap:1rem;
      font-size: 1.5rem;
      margin-left: 0;
    }
    .item .description {
      margin-top: 0.5rem;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
}


/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1199px) {
  /* Estilos para tablets */
  .item {
      width: 40%;
      margin: 0.5rem;
    }

    .item .description {
      margin: 1rem;
    }

    .item img {
      display: none;
      margin-left: 0;
    }

    .item .title {
      display: flex;
      padding-left: 0;
      gap: 1rem;
      font-size: 1.5rem;
      margin-left: 0;
    }

    .item .description {
      margin-top: 0.5rem;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
.item {
    width: 40%;
    margin: 0.5rem;
  }

  /* .item .description {
    margin: 1rem;
  }
*/
  .item img {
    margin-left: 0;
  }

  .item .title {
     display: flex;
    padding-left: 0;
    /* gap: 1rem; */
    font-size: 2rem;
    margin-left: 0;
  }

  .item .description {
    margin-top: 0.5rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
