.item {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  transition: transform 0.3s ease;
  padding-top:1rem;
  /* border:1px solid red; */
}
.item svg {
  min-width: 60px;
  height: 70px;
}
.item:hover {
  background-color: #eab33c;
  color: white;
  box-shadow: 13px 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.item:hover svg {
  fill: white !important;
}

.item:hover .title {
  color: white;
}
.item:hover .description {
  color: white;
}

.item .title {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #333333;
  margin-left:1.5rem;
}
.cardButton {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #eab33c;
  color: white;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  align-self: flex-end;
}
.item:hover .cardButton {
  background-color: #ffffffee;
  color: #eab33c;
  transform: translateY(-2px);
  cursor:pointer;
}
.item .description {
  padding:1.5rem;
  padding-top:1rem;
  color: #333333;
  /* border:1px solid green; */
}
.item img {
  width: 60px;
}
.inlineImg {
  width: 60px;
  display: none;
}
.buttonContainer {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-top:1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* Estilos para teléfonos pequeños */
  .item {
    width: 95%;
    /* margin: 0.5rem; */
  }

  .item img {
    /* display: none; */
    width:40px;
    margin-left: 0;
  }

  .item .title {
    display: flex !important;
    padding-left: 0;
    gap: 1rem;
    font-size: 1.2rem;
  }
  .item .description {
    font-size: 0.9rem;
  }
    /* .buttonContainer {
      margin-top: 1rem;
    } */
}

/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1199px) {
  /* Estilos para tablets */
  .item {
    padding-top: 1rem;
    width: 40%;
    margin: 0.5rem;
  }

  .item .description {
    margin: 1rem;
    font-size:0.9rem;
    padding:0.5rem;
  }

  .item img {
    width:40px;
    margin-left: 0;
    margin-right:1rem;
  }

  .item .title {
    display: flex !important;
    padding-left: 0;
    gap: 1rem;
    font-size: 1.3rem;
    margin-left: 0;
    display: inline;
    margin-left: 1.5rem;
  }

  .item .description {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    /* font-size: 1rem; */
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .item {
    width: 45%;
    margin: 0.5rem;
    padding: 1rem;
  }
  .item .title {
    font-size: 1.3rem;
  }
  /* .item .description {
    margin: 1rem;
  }
*/
  .item img {
    margin-left: 0;
  }

  .item .title {
    display: flex;
    padding-left: 0;
    font-size: 1.5rem;
    margin-left: 0;
  }

  .item .description {
    margin-top: 0.5rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    padding:0rem;
  }
}
@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotateOnHover:hover {
  animation: rotateOnce 0.6s ease;
}
