.experience {
  background-image: url('./../../assets/img/metalic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height:100vh;

}
.construction-icon {
    /* position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px; */
    animation: float 3s ease-in-out infinite;
  }
.experience-content {
  position: relative;
  color: white; /* Color del texto sobre la imagen */
  padding-top: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  height: 60%;
  align-items:center;
}
.experience-content .info {
  flex:4;
}
.experience-content .info-years {
  text-align: right;
  font-weight: 700;
  font-size: 90px;
  text-shadow: 4px -2px 4px rgba(0,0,0,0.55);
  flex: 1;

}
.info-years .number {
  font-size: 2.5em;
  line-height: 1;
  align-items: center;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color de fondo con opacidad */
  /* z-index: 1; */
}
.overlay-detail{
  bottom: 0;
  right: 0;
  width: 100%;
  /* border:1px solid yellow; */
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
  height: 30%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;

}


.text-shadow {
  text-shadow: 4px -2px 4px rgba(0,0,0,0.55);
}
.spacing {
  letter-spacing: 0.20em
}
.experience-description {
  font-size: 3.5rem ;
  font-weight: 700;
}
 .experience-description-text {
   font-size: 1rem;
   padding-top: 1rem;
 }

/* Intervalo para teléfonos pequeños (320px a 480px) */
@media (min-width: 320px) and (max-width: 480px) {
  /* Estilos para teléfonos pequeños */
  .experience {
    height:calc(103vh);
    padding-left:1rem
  }
  .experience-content {
    width: 99%;
    height:auto;
  }
  .experience-description {
    font-size: 1.8rem;
    /* padding-left:1rem; */
  }
  .experience-content .info {
      width: 100%;
  }
  .experience-content .info-years {
    display: none;
  }
  /* .overlay-detail {
    gap:0.5rem;
  } */
  .overlay-detail {
    height: auto;
  }
  .experience-description-text {
    font-size: 1rem;
  }
}

/* Intervalo para teléfonos grandes (481px a 767px) */
@media (min-width: 481px) and (max-width: 1023px) {

  .experience {
    height:60rem;
  }

  .experience-content {
      width: 90%;
      /* height:auto; */
    }

    .experience-description {
      font-size: 2.4rem;
    }

    .experience-content .info {
      width: 90%;
    }

    .experience-content .info-years {
        display: none;
    }

    /* .overlay-detail {
      gap: 3.5rem;
    } */

    .overlay-detail {
      height: 20%;
    }

    .experience-description-text {
      font-size: 1.1rem;
    }
}

/* Intervalo para pantallas de escritorio grandes (1200px y más) */
@media (min-width: 1024px) and (max-width: 1299px)  {

  .experience-description {
    font-size: 3rem ;
    font-weight: 700;
  }

  .info-years .number {
    font-size: 2em;
    line-height: 1;
  }
  /* Estilos para pantallas de escritorio grandes */
  .experience {
    height:60rem;
  }

  .experience-description-text {
      font-size: 1.2rem;
      width:90%
    }
}

@media (min-width: 1300px) and (max-width: 1600px) {

.experience {
    height:100vh;
  }

  .experience-description {
    font-size: 3rem;
  }

  .experience-description-text {
      font-size: 1.1rem;
      width:85%
    }
    .experience-content .info-years {
      font-size: 5rem;
    }
}

@media (min-width: 1601px) {
  .experience-content {
    width: 80%;
  }
  .experience {
    height:100vh;
  }

  .experience-description-text {
      font-size: 1.3rem;
      width:85%
    }
}
