.color-yellow {
  background-image: url('./../../assets/img/metalic.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  position: relative; /* Para que el contenido esté sobre la imagen */
}

.experience-content {
  position: relative;
  color: white; /* Color del texto sobre la imagen */
  padding-top: 2rem;
  display: flex;
  width: 80%;
  margin: auto;
}
.experience-content .info {
  flex:3;
}
.experience-content .info-years {
  width: 50%;
  text-align: right;
  font-weight: 700;
  font-size: 90px;
  text-shadow: 4px -2px 4px rgba(0,0,0,0.55);
  flex: 1;

}
.info-years .number {
  font-size: 2.5em;
  line-height: 1;
  align-items: center;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color de fondo con opacidad */
  /* z-index: 1; */
}
.overlay-detail{
  bottom: 0;
  right: 0;
  width: 100%;
  /* border:1px solid yellow; */
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
  height: 30%;
  position: absolute;
  display: flex;
  gap: 5rem;
  /* justify-content: space-between; */
  justify-content: center;

}


.text-shadow {
  text-shadow: 4px -2px 4px rgba(0,0,0,0.55);
}
.spacing {
  letter-spacing: 0.20em
}
.experience-description {
  font-size: 3.5rem ;
  font-weight: 700;
}
 .experience-description-text {
   font-size: 1rem;
   padding-top: 1rem;
 }

/* Mostrar un componente solo en pantallas pequeñas (por ejemplo, móviles) */
/* @media (max-width: 1023px) {
  .experience-content {
    display:block;
    width: 90%;

  }
    .experience-content .info {
      width: 100%;
    }
  .experience-description-text {
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  .experience-content .info-years{
    width: 100%;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
  }
    .info-years .number {
      font-size: 4rem;
    }
    .info-years .year-info {
      font-size: 4rem;
    }
        .overlay-detail {
          display: flex;
          flex-wrap: wrap;
          gap: 0;
        }
} */
/* Intervalo para teléfonos pequeños (320px a 480px) */
@media (min-width: 320px) and (max-width: 480px) {
  /* Estilos para teléfonos pequeños */
  .experience-content {
    width: 95%;
  }
  .experience-description {
    font-size: 2.3rem;
  }
  .experience-content .info {
      width: 100%;
  }
  .experience-content .info-years {
    display: none;
  }
  .overlay-detail {
    gap:0.5rem;
  }
  .overlay-detail {
    height: 25%;
  }
  .experience-description-text {
    font-size: 0.9rem;
  }
}

/* Intervalo para teléfonos grandes (481px a 767px) */
@media (min-width: 481px) and (max-width: 1023px) {
  .experience-content {
      width: 80%;
    }

    .experience-description {
      font-size: 2.4rem;
    }

    .experience-content .info {
      width: 90%;
    }

    .experience-content .info-years {
        display: none;
    }

    .overlay-detail {
      gap: 3.5rem;
    }

    .overlay-detail {
      height: 30%;
    }

    .experience-description-text {
      font-size: 1rem;
    }
}

/* Intervalo para tablets (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
}

/* Intervalo para laptops y pantallas de escritorio pequeñas (1024px a 1199px) */
@media (min-width: 1024px) and (max-width: 1199px) {
  /* Estilos para laptops y pantallas de escritorio pequeñas */
}

/* Intervalo para pantallas de escritorio grandes (1200px y más) */
@media (min-width: 1200px) {
  /* Estilos para pantallas de escritorio grandes */
}
