.floating-icon {
  position: fixed;
  bottom: 2rem;  /* A 20px del borde inferior */
  right: 2rem;   /* A 20px del borde derecho */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.floating-icon img {
  width: 3.5rem;  /* Ajusta el tamaño del ícono según sea necesario */
  height: 3.5rem;
  cursor: pointer; /* Añade cursor para indicar que es clicable */
}
