.image-gallery-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.gallery-wrapper {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
}
